body{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-cmpt {
  background: rgb(34,193,195);
  background: linear-gradient(118deg, rgba(34,193,195,1) 0%, rgba(139,61,255,1) 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 25%;
  border-radius: 0;
}

.dot {
  color:white;
}
