.price{
  font-weight: 500;
  background: white;
  color: rgb(33,41,54);
  height: 5%;
}

.card {
  background: white;
  margin: 10px 0;
  display: flex;
  height: 55vh;
  width: 32vh;
  align-items: center;
  padding-bottom: 20px;
  color: white;
  flex-direction: column;
  border-radius: 0px;
  border: 2px solid;
  box-shadow: 0px 0px 8px rgba(116, 193, 192, 0.5), 0 0px 0px rgba(0, 0, 0, 0.08);
  border-color: 0;
  }

  .image{
    background: white;
    border-radius: 14px;
    margin-top: 5%;
   height: 80%;
    box-shadow: 0px 0px 8px rgba(116, 193, 192, 0.5), 0 0px 0px rgba(0, 0, 0, 0.08);
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(33,41,54);
    font-size: 10px;
    margin: 10px; 
    height: 10%;
    width: 90%;
  }

  .discount {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
  }
  
  .slashed {
    text-decoration: line-through;
    margin: 0 10px;
    padding: 0 6px;
    background: #bb2a3d;
    border-radius: 6px;
  }

  .display-card-button {
    background: rgb(33,41,54);
    background: linear-gradient(122deg, rgba(33,41,54,1) 0%, rgba(33,41,54,1) 0%, rgba(33,41,54,0.9203139874113708) 94%);
    margin: 8px 0;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 6px
  }

  .bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .display-btn {
    background: rgb(33,41,54);
    background: linear-gradient(122deg, rgba(33,41,54,1) 0%, rgba(33,41,54,1) 0%, rgba(33,41,54,0.9203139874113708) 94%);
    border: 0;
    cursor: pointer;
    color: white;
    border-radius: 20px;
  }
  .display-btn:hover {
    padding: 8px 12px;
    transition: padding 0.3s ease-in-out;
  }
