.heading {
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  color: rgb(33,41,54);
  font-size: 40px;
}

@media (max-width: 600px) {
  .heading {
      font-size: 30px;
  }
}