body {
  background: #e3e6e6;

}
.details-page {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 10%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.no-record {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}