.red {
  background: red;
}

/* Above for testing */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.pagination {
  background: #e3e6e6;
  height: 10vh;
}
.image{
  background: white;
  border-radius: 14px;
  margin-top: 5%;
 height: 80%;
  box-shadow: 0px 0px 8px rgba(116, 193, 192, 0.5), 0 0px 0px rgba(0, 0, 0, 0.08);
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: rgb(33,41,54);
  font-size: 10px;
  margin: 10px; 
  height: 10%;
  width: 90%;
}
.price{
  font-weight: 500;
  background: white;
  color: rgb(33,41,54);
  height: 5%;
}
.card {
  background: white;
  margin: 10px 0;
  display: flex;
  height: 50vh;
  width: 32vh;
  align-items: center;
  padding-bottom: 20px;
  color: white;
  flex-direction: column;
  border-radius: 24px;
  border: 2px solid;
  box-shadow: 0px 0px 8px rgba(116, 193, 192, 0.5), 0 0px 0px rgba(0, 0, 0, 0.08);
  border-color: 0;
  }
  .last-section {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 10px;
  }

.nav{
  display: flex;
  padding-left: 10%;
  height: 12vh;
  align-items: center;
  background: rgb(33,41,54);
  background: linear-gradient(122deg, rgba(33,41,54,1) 0%, rgba(33,41,54,1) 0%, rgba(33,41,54,0.9203139874113708) 94%);
}


.btn {
  diplay: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  color: #f7f7f7;
  text-decoration: none;
}



.btn:hover {
  text-shadow: 0px 0px 1px #ffffff;
}

.nav-btn {
  padding: 10px;
  margin: 0 10px;
  background: transparent;
  font-size: 18px;
}

.logo2{
  height:60px;
  color: white;
  margin: 0 80px;
}

.searchbar{
  padding: 10px 80px;
}

.searchbar {
  padding: 10px 28px;
  border-radius: 20px;
  border-width: 2px;
  box-shadow: 0 0 0 1px rgba(178, 190, 181, 0.5); 
  border-color: transparent;
  outline: none;
}

.searchbar:focus {
  box-shadow: 0 0 0 2px rgba(116, 193, 192, 0.5); 
}

.form {
  display: flex;
  align-items: center;
  margin-left: 80px; 
}

.search-btn{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #74c1c0;
  margin-left: 8px;
}

.search-btn:hover{
  background: #4ea5a0;
  transition: background-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.submit-logo {
  display: flex;
  justify-content: center;
}

.submit-btn {
  display: flex;
}